<div id="return">
  <a routerLink="/">
    <i class="material-icons">keyboard_arrow_left</i>
  </a>
</div>
<div id="place">
  <h2>{{place$.name}}</h2>
  <h3>{{place$.address}}</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nibh orci. 
    Fusce vel dolor non nisl iaculis cursus ut sed purus. Nulla facilisi. 
    Pellentesque porta vulputate ligula, nec rhoncus lorem porttitor at. 
    Proin molestie massa id eros eleifend sollicitudin. Cras sed felis nec sapien pretium congue. 
    Fusce imperdiet eu velit at mollis. Ut auctor pellentesque sollicitudin. 
    Pellentesque imperdiet eros eu tortor fermentum dapibus et et nisi. Nullam eleifend vitae quam non tempus.
  </p>
</div>
<div style="clear: both;"></div>