.filter-select {
    width: 71%;
    list-style: none;
    color: rgb(105, 105, 105);
    border: 1px solid #ccc;
    border-top: none;
    /*so things don't jump around*/
    position: absolute;
    z-index: 1;
    /*left: 25%;*/
    /*top: calc(50% + 25px);*/
    top: 50px;
    max-height: calc(50% - 15px);
    /*overflow-y: auto;*/
    background: #fff
  }

  .filter-select-list {
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    background-color: #fff;
    color: black;
    font-size: 16px;
  }

  .filter-select-list a {
    text-decoration: none;
    font-weight: bold;
  }

  .filter-select-list a:visited {
    text-decoration: none;
    font-weight: bold;
  }

  .filter-select-list a span {
    font-size: 12px;
    padding-left: 15px;
  }